@keyframes naveffect {
    50%{opacity: 0;transform: translateY(-5px);}
    100%{opacity: 1;transform: translateY(0px);}
}
@keyframes fadein {
    0%{opacity: 0;transform: translateY(100px);}
    100%{opacity: 1;transform: translateY(0px);}
}
@keyframes btnhover-resize {
    0%{height: 50px;}
    100%{height: 60px;}
}
@keyframes btnhover-slidedown {
    0%{transform:translateY(0)}
    100%{transform: translateY(10px);}
}
@keyframes carouseSlideshow {
    0%{transform: translateX(200%)}
    25%{transform: translateX(0)}
    50%{transform: translateX(0)}
    75%{transform: translateX(0)}
    100%{transform: translateX(-200%)}
}
.prime-content{
    animation: carouseSlideshow 10s ease forwards;
}
nav a:hover{
    animation: naveffect 0.5s ease forwards;
}
.product:hover .product-list{
    animation: fadein 0.5s ease forwards;
}
.readmore-btn button:hover{
    animation: btnhover-slidedown 0.5s ease forwards;   
}
.readmore-btn:hover{
    animation: btnhover-resize 0.5s ease forwards;
}