:root{
    --main--color: rgb(50, 192, 192);
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}
body{
    height: 100vh;
}
/*Phan Header*/
header{
    background: url('../../upload/hinhanh/184145035071.png');
    background-size:cover;
    height: 100vh;
    background-position: center top;
    display: flex;
    align-items: center;
    justify-content: center;
}
nav{
    height: 50px;
    transform: translateY(-400px);
    justify-content: center;
    align-items: center;
    display: flex;
}
nav a{
    text-decoration: none;
    color: white;
    font-size: 20px;
    margin: 0 20px;
    padding: 10px;
}
nav a:hover{
    background: rgba(19, 124, 173, 0.692);
}
.product{
    position: relative;
    display: inline-block;
}
.product:hover a{
    background: rgba(19, 124, 173, 0.692);
}
.product-list{
    display: none;
    position: absolute;
    width: 250px;
    z-index: 1;
    margin-top: 9px;
}
.product-list a{
    transition: 0.2s;
}
.product:hover .product-list{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.product:hover .product-list a:hover{
    transform: scale(1.1);
    animation: none;
}
.product-list a i{
    margin-right: 5px;
}


/*messenger & clicktop button*/
.messenger{
    position: fixed;
    bottom: 20px;
    right: 80px;
    background: rgba(19, 124, 173, 0.692);
    border-radius: 50%;
    padding: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}
.messenger:hover{
    background: rgba(182, 147, 82, 0.747);
}
.messenger img{
    transform: scale(0.6);
}
.clicktop{
    display: none;
    position: fixed;
    bottom: 15px;
    right: 15px;
    z-index: 99;
}

/*footer*/
footer{
    background: url('../../images/bg_nen6.png');
    height: 600px;
    width: 100%;
    background-position: center bottom;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
footer .container{
    display: flex;
    justify-content: space-between;
    width: 1200px;
}
.block p{
    font-weight: bold;
    font-size: 25px;
    color: var(--main--color);
}
.contact-us{
    flex-wrap: wrap;
}
.detail{
    margin-top: 20px;
    width: 300px;
    height: 200px;
    flex-wrap:wrap;
    overflow:scroll;
}
.contact-us img{
    width: 100px;
    height: 100px;
}
.about-list{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.about-list a{
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.4s;
}
.product-list2{
    display:flex;
    flex-direction: column;
    flex-wrap: wrap;
}
.product-list2 a{
    margin-top: 20px;
    text-decoration: none;
    color: black;
    font-size: 20px;
    transition: 0.4s;
}
.product-list2 a:hover{
    transform: scale(1.1);
}
.product-list2 i{
    margin-right: 5px;
}
.about-list a:hover{
    transform: scale(1.1);
}
.about-list i{
    margin-right: 5px;
}
.follow-us{
    display: flex;
    flex-direction: column;
}
.social{
    margin: 20px 0;
}
.social img{
    margin-right: 5px;
}
.copyright{
    position:relative;
    bottom: -100px;
}

.copyright i{
    margin-right: 5px;
}